{% extends 'base.html' %}
{% load static %}


{% block title %}
Главная
{% endblock title %}


{% block content %}
<img src="{% static 'pharm/images/1.png' %}" width="20%" height="20%" class="rounded float-start">

{% if user.is_authenticated == False %}
<br><br><br><br><br><br><br><br>
    <a href="{% url 'sign_in' %}" class="btn btn-dark">Авторизоваться</a>
    <a href="{% url 'sign_up' %}" class="btn btn-danger">Зарегистрироваться</a>
{% endif %}

{% if user.is_authenticated %}
<br><br><br><br><br><br><br><br>
Привет, {{user.username}}
    <a href="{% url 'sign_out' %}" class="btn btn-danger">Выйти</a>
 {% endif %}

{% endblock %}